<!DOCTYPE html>
<html>
  <head>
      <meta http-equiv="refresh" content="">
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/main.css')}}"
      type="text/css"
    />
  </head> 
  <body>
    <div class="container">
      <div class="header">
        <h1>Image search engine</h1>
        <h4><em>Using Content Based Information Retrieval</em></h4>
      </div>
      <div class="content">
        <div class="input-img">
          <form method="POST" enctype="multipart/form-data">
            <input type="file" name="query_img" /><br />
            <input type="submit" />
          </form>
          <h2>Query:</h2>
          {% if query_path %}
          <img
            src="{{ url_for('static', filename =  query_path )}}"
            width="300px"
          />
          {% endif %}
        </div>
        <div class="output-imgs">
          <h2>Results:</h2>
          {% for score in scores %}
          <figure style="float: left; margin-right: 20px; margin-bottom: 20px">
            <img
              src="{{url_for('static', filename = score[1])}}"
              height="200px"
            />
            <figcaption>{{ score[0] }}</figcaption>
          </figure>
          {% endfor %}
        </div>
      </div>
    </div>
  </body>
</html>
