<!DOCTYPE html>
{% macro render_image(src, caption=None) %}
<div>
  <img src="{{ src }}" alt="IMG!" />
  {% if caption %}
  <figcaption>{{ caption }}</figcaption>
  {% endif %}
</div>
{% endmacro %}

<html>
  <head>
    <meta http-equiv="refresh" content="" />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/main.css')}}"
      type="text/css"
    />
    <script
      type="text/javascript"
      src="{{url_for('static', filename='js/input.js')}}"
      defer
    ></script>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div>
          <img src="{{url_for('static', filename='imgs/intro.jpg')}}" />
        </div>
        <div>
          Welcome to Ticki. Given an input face, find all images in your
          repository that contains the face.
        </div>
      </div>

      <div class="main-content">
        <div class="input-section">
          <form
            method="POST"
            class="img-input-form"
            enctype="multipart/form-data"
            action="{{url_for('index')}}"
          >
            <div class="input-img-container">
              <div class="is-required">*!</div>
              <label id="input-img-label" for="input-img-preview">+</label>
              <input type="file" id="input-img-preview" />
              <input type="file" id="q-img" name="query-img" />
            </div>
            <div>
              <input
                type="text"
                id="repo-url"
                placeholder="Repository URL"
                {#required#}
              />
            </div>
            <div><input type="submit" /></div>
          </form>
        </div>
        <div class="img-selections">
          <div class="multiple-faces-container">
            <form
              method="POST"
              action="{{url_for('multiple-faces')}}"
              id="multiple-faces-form"
              enctype="multipart/form-data"
            >
              <div class="multiple-faces">
                {% for face_name in input_faces %}
                <label class="selectable-face">
                  <input
                    type="checkbox"
                    name="selected_faces"
                    value="{{ face_name }}"
                    class="face-select-checkbox"
                  />
                  {{ render_image(url_for('static', filename=extracted_faces_path
                  ~ face_name)) }}
                </label>
                {% endfor %}
              </div>
              <button type="submit" class="submit-multiple-faces">
                Submit Selected Faces
              </button>
            </form>
          </div>
          <div class="selected-imgs">
            {% for info in similarity_info %} {{ render_image(url_for('static',
            filename=img_data_path ~ info[1]), caption=info[0])}} {% endfor %}
          </div>
        </div>
      </div>
      <div class="footer">@Ticki.</div>
    </div>
  </body>
</html>
